/* useHover */
.hovered {
  background-color: lightblue;
}

.container {
  background-color: grey;
  color: white;
  padding: 8rem;
  width: 12rem;
  text-align: center;
  font-size: 5rem;
}
h1{
  color: #000;
}
.sub-container {
  padding: 3rem !important;
  width: 5rem !important;
  background-color: darkcyan;
}

.sub-container-1 {
  padding: 3rem !important;
  width: 5rem !important;
  background-color: darkgreen;
}

.sub-container-2 {
  padding: 1rem !important;
  width: 4rem !important;
  background-color: rgb(231, 222, 89);
}
