header {
  /* background-color: #3A8EDD; */
  /* color: #FFF; */
  display: flex;
  justify-content: center;
  height: 64px;
  border-bottom: 1px solid gray;
}


header nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 400px;
}

nav > ul > li {
  list-style: none;
}
nav > ul > li > a{
  padding: 10px;
}

nav > ul > li a:focus {
/* nav > ul > li a:hover { */
  background-color: rgba(0, 168, 255,0.4)
  
}
.containerList {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 400px;
  margin: 30px auto;
}
.btn_hotspot {
  background-color: #12c1c7;
  border-radius: 25px;
  border-color: #12c1c7;
  height: auto;
  width: 200px;
  padding: 12px 25px;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 30px;
}

.btn_hotspot:focus{
  outline: none;
}

.list {
  width: 400px;
  height: auto;
  border-bottom: 1px solid lightgray;
  color: darkgray;
  padding: 0 5px;
  margin: 0;
}
.list li{
  display: flex;
  padding: 15px;
  padding-left: 5px;
  justify-content: space-between;
}
.list a{
  cursor: pointer;
  text-decoration: underline;
  color: #00a8ff;
}
.title{
  background-color: lightgray;
  width: 100%;
  padding: 10px 5px;
}